@import "../../../assets/styles/cssImports.scss";

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button-wrapper {
  display: flex;
  gap: 32px;
  font-size: 14px;
  color: $black-2;

  &__item {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

input[type="radio"] {
  accent-color: $black-2;
  width: 16px;
  height: 16px;
}


