@import "../../assets/styles/cssImports.scss";

.listing-card {
  width: 385px;
  cursor: pointer;

  &__image-container {
    position: relative;
    height: 307px;
  }
  &__info {
    border-radius: 0 0 14px 14px;
    border: 1px solid $gray-1;
    padding: 22px 25px;

    &--header {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &--header h3 {
      font-size: 28px;
      line-height: 33px;
      color: $black-2;
      margin: 0;
    }
  }
  &__icons {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 20px;
  }
}
