@import "../../assets/styles/cssImports.scss";

.image-upload {
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135px;
    resize: none;
    border-style: dashed;
    border-radius: 6px;
    border: 1px dashed $gray-3;
    font-size: 20px;
    cursor: pointer;
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image-item {
    position: relative;
    height: 90px;
    width: 90px;
  }
  &__uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__upload-icon {
    width: 20px;
    height: 20px;
    color: $gray-3;
  }

  &__remove-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -4px;
    right: -4px;
    background: $white;
    border: 1px solid $black-2;
    cursor: pointer;
    color: $black-2;
    padding: 5px;
    border-radius: 50%;
  }
}
